body{
  font-family: Arial, Helvetica, sans-serif;
  max-height: 100vh;
  text-align: center;
 
}
nav{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  height: 80px;
  background: #dee1ed;
  /* position: fixed; */
}
nav ul{
  display: flex;
  gap: 30px;
}
nav ul li{
  list-style: none;
}
nav ul li a{
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 16px;
}
.footer{
  padding: 0 16px;
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0;
  position: fixed;
  background: #dee1ed;
  text-align: center;
}
.home{
  background-image: url('./assets/3.jpg');
  background-size: cover;
  background-position: left;
  background-attachment: fixed;
  overflow-y: hidden;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  /* width: 100%;
  height: 100%; */
}
.home .title{
  font-size: 50px;
  color: #fff;
  text-align: center;
  line-height: 1.3;
  position: relative;
  padding-bottom: 50px;
  font-weight: bold;
  animation: heading;
  animation-duration: 3s;
}
@keyframes heading{
  0%{top:-50px}
  100%{top: 80px;}
}
.home .container{
  width: 100%;
  height: 500px;
  margin: auto;
  margin-bottom: 50px;
 
}
.home p{
  font-size: 16px;
  color: #dee1ed;
  padding-bottom:20px;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  overflow: hidden;
  animation-name: content;
} 
@keyframes content{
  0% {
    left: -1000px;
  }
  100%{
    left: 0;
  }

}
.btn{
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 1rem 2rem;
  border: #fff 1px solid;
  margin-top: 40px;
  opacity:0;
  font-weight: bold;
  animation-name: btn;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  transition-property: transform;
  transition-duration: 1s;
}
.btn:hover{
  transform: rotateY(180deg);
}
@keyframes btn{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

.articlelist{
  text-decoration: none;
  justify-content: center;
  animation-duration: 3s;
  animation-delay: 3s;
  color: black;
  width: 300px;
  height: 300px;

  border: 1px solid rgb(129, 126, 126);
  box-shadow: 0 15px 15px solid rgb(129, 126, 126);
  animation-fill-mode: forwards;
  transition-property: card;
  transition-duration: 1s;
  border-radius: 30px;
  color: black;
}

/* .list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

} */
.articlePage p{
  text-align: center;
  color: black;
  padding-top: 30px;
}

.card{
  /* margin-left: 50px; */
  display: flex;
  color: black;
  text-align: center;
  align-items: center;
  padding-right: 50px;
  justify-content: center;
  text-decoration: none;
}
.card p{
  font-size: 12px;
  text-align: center;
  color: black;
}
.card h3{
  padding-bottom: 30px;
  font-size: 16px;
}
/* .card:hover{
  transform: rotateY(180deg);
} */
/* .articleTitle h2{
  color: black;
  font-size: 20px;
}
.articleDesc{
  color: black;
  font-size: 12px;
} */

#add-comment-form {
  border-bottom: 2px solid black;
  padding: 16px;
}

#add-comment-form h3 {
  margin-bottom: 16px;
}

#add-comment-form input, textarea {
  display: block;
  width: 300px;
  padding: 8px;
  border-radius: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  border: 2px solid black;
  margin-bottom: 16px;
}

#add-comment-form button {
  width: 320px;
}

#upvotes-section button, p {
  display: inline-block;
  margin-right: 16px;
}

.comment {
  border-bottom: 2px solid black;
  padding: 16px;
}